@font-face {
    font-family: Karla;
    src: url(./fonts/Karla-Regular.ttf);
}

body {
    font-family: 'Karla';
    font-weight: 400, 700;

    display: flex;
    justify-content: center;
    align-content: center;

    background-color: rgb(82, 82, 82);

    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.card {
    height: 420px;
    width: 600px;

    margin-top: 100px;
    margin-bottom: 0px;

    border-radius: 10px;

    background-color: white;

    overflow: hidden;
}

.card .title {
    font-size: 23px;

    color: hsl(179, 62%, 43%);

    position: absolute;
    padding: 35px;
}

.card .moneyBack {
    color: hsl(71, 73%, 54%);

    position: absolute;
    padding-top: 75px;
    padding-left: 32px;
}

.card .benefits {
    color: hsl(218, 22%, 67%);
    line-height: 25px;

    height: 50px;
    width: 550px;

    position: absolute;
    padding-top: 115px;
    padding-left: 32px;
}

.card .Center {
    color: white;
    
    height: 220px;
    width: 270px;

    background-color: hsl(179, 62%, 43%);

    margin-top: 200px;

    overflow: hidden;
}

.Center .monthlySub {
    font-size: 16px;

    display: flex;
    justify-content: left;

    padding-top: 30px;
    padding-left: 20px;
}

.Center .dollar {
    font-size: 30px;

    display: flex;
    justify-content: left;

    padding-top: 15px;
    padding-left: 25px;
}

.Center .perMonth {
    color: hsl(204, 43%, 93%);

    opacity: 0.5;

    position: absolute;
    padding: 27px;
    padding-left: 90px;
}

.Center .fullAcessText {
    font-size: 14px;
    text-align: left;

    opacity: 0.7;

    display: flex;
    justify-content: center;

    padding: 10px;

}

.Center .signupButton {
    color: white;
    background-color: hsl(71, 73%, 54%);

    border-color: transparent;
    border-radius: 7px;

    height: 40px;
    width: 205px;

    margin: 19px;
    margin-left: 33px;

    cursor: pointer;
}

.card .Bottom {
    color: white;
    
    height: 220px;
    width: 350px;

    background-color: hsl(179, 77%, 44%);

    overflow: hidden;

    margin-top: -220px;
    margin-left: 250px;
}

.Bottom .whyUs {
    font-size: 18px;

    display: flex;
    justify-content: left;

    margin: 20px;
}

.Bottom .whyUsWhy {
    font-size: 16px;

    opacity: 0.7;

    display: flex;
    justify-content: left;

    margin: 20px;
}

@media (max-width: 375px) {

.card {
    height: 700px;
    width: 300px;

    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 10px;

    background-color: white;

    overflow: hidden;
}
 
.card .title {
    font-size: 18px;

    color: hsl(179, 62%, 43%);

    position: absolute;
    margin-left: 25px;
    margin-top: 20px;

    padding: 0px;
}

.card .moneyBack {
    color: hsl(71, 73%, 54%);

    width: 250px;

    position: absolute;
    padding-top: 55px;
    padding-left: 20px;
}

.card .benefits {
    color: hsl(218, 22%, 67%);
    line-height: 30px;

    width: 270px;

    position: absolute;
    padding-top: 120px;
    padding-left: 20px;
}

.card .Center {
    color: white;
    
    width: 300px;
    height: 180px;

    background-color: hsl(179, 62%, 43%);

    margin-top: 300px;

    overflow: hidden;


}

.Center .monthlySub {
    font-size: 16px;

    display: flex;
    justify-content: left;

    padding-top: 10px;
    padding-left: 20px;
}

.Center .dollar {
    font-size: 30px;

    display: flex;
    justify-content: left;

    padding-top: 3px;
    padding-left: 25px;
}

.Center .perMonth {
    color: hsl(204, 43%, 93%);

    opacity: 0.5;

    position: absolute;
    padding: 16px;
    padding-left: 90px;
}

.Center .fullAcessText {
    text-align: left;

    opacity: 0.7;

    display: flex;
    justify-content: center;

    padding: 15px;

}

.Center .signupButton {
    color: white;
    background-color: hsl(71, 73%, 54%);

    border-color: transparent;
    border-radius: 7px;

    height: 40px;
    width: 230px;

    margin-left: 33px;
}

.card .Bottom {
    color: white;
    
    height: 220px;

    background-color: hsl(179, 77%, 44%);

    overflow: hidden;

    margin-top: 0px;
    margin-left: 0px;
}

.Bottom .whyUs {
    font-size: 18px;

    display: flex;
    justify-content: left;

    margin: 20px;
}

.Bottom .whyUsWhy {
    font-size: 16px;

    opacity: 0.7;

    display: flex;
    justify-content: left;

    margin: 20px;
}

}

